@import "foundation_and_overrides";

.search-result {
    background-color: #F2F2F2;
    margin-bottom: 10px;
    padding: 12px 0;
}

.no-margin {
    margin: 0;
}

.inline {
    display: inline;
}

.float-left {
    float: left;
}

.video-info {
    margin-left: 210px;
}

input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.color-primary {
    color: $primary-color;
}