// Place all the styles related to the playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.previous-playlists {
    margin-top: 40px;
}

.new-playlist {
    margin-top: 50px;
}

.search-playlist-container {
    margin-top: 100px;
}

.playlist {
    padding: 20px;
}

#ytplayer {
    height: 356px;
}

.search-result input[type="submit"] {
    margin: 5px 0 0 0;
}

.invitee-emails {
    height: 100px;
}