<%  provide :title, 'Create Playlist' %>

<div class="row new-playlist-container"><div class="large-6 large-centered columns">
  <h3>Welcome to Wemote.</h3>
  <%= form_for(@playlist) do |f| %>
      <%= f.text_field :name, placeholder: "Enter a name for your new playlist" %>
      <%= f.submit "Create Playlist", class: "button" %>
  <% end %>
</div></div>