<% provide :title, @playlist.name %>
Playlist: <%= @playlist.name %>
<% content_for :head do %>
  <%= javascript_include_tag 'swfobject' %>
  <%= javascript_include_tag 'jquery.cookie' %>
  <%= javascript_include_tag 'youtube_player' %>
<% end %>
<div id="ytplayercontainer">
    You need Flash player 8+ and JavaScript enabled to view this video.
</div>