<% content_for :head do %>
  <%= javascript_include_tag 'swfobject' %>
  <script type="text/javascript">
    $(function() {
      loadYouTubePlayer();
    });
  </script>
<% end %>
<div id="ytapiplayer">
    You need Flash player 8+ and JavaScript enabled to view this video.
</div>
<% provide :title, @playlist.name %>
Playlist: <%= @playlist.name %>
<%= render 'shared/find_song', playlist_id: @playlist.id %>