<% provide :title, @playlist.name %>
<h4>Playlist: <%= @playlist.name %></h4><br>
<% content_for :head do %>
  <%= javascript_include_tag 'swfobject' %>
  <%= javascript_include_tag 'jquery.cookie' %>
  <%= javascript_include_tag 'youtube_player' %>
  <script src="http://js.pusher.com/2.1/pusher.min.js"></script>
<% end %>
<div id="ytplayercontainer">
    You need Flash player 8+ and JavaScript enabled to view this video.
</div>